@charset "UTF-8";

body	{
    margin: 0;
    font-family:  'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic', sans-serif;
    background-color: #F2F2F2;
    color: #333;
}



.main {
text-align: center

}


/******** 全体の上下 *******/

.main_1 {
    padding-top: 90px
}

.main_2 {
    padding-top: 40px
}
